@inherits LayoutComponentBase

<RadzenNotification/>
<RadzenDialog/>

<div class="page">
    <div class="sidebar" @onmouseenter="@ToggleSidebarIn" @onmouseleave="@ToggleSidebarOut">
        @if (collapsed)
        {
            <div class="sidebar_extended">
                <NavMenu/>
            </div>
        }
        else
        {
            <div class="sidebar_short">
                <NavMenu/>
            </div>
        }
    </div>


    <div class="main">
        <div class="top-bar">
            <div class="logout-button">
                <RadzenButton Text="LOGOUT" ButtonStyle="ButtonStyle.Light" Click="@Logout"/>
            </div>
        </div>
        <div class="content px-4">
            <div class="body">
                @Body
            </div>
        </div>
    </div>
</div>