<RadzenTemplateForm TItem="Model" Data=@model Submit=@OnSubmit InvalidSubmit=@OnInvalidSubmit>
    <RadzenFieldset Text="Password">
        <div class="row mb-5">
            <div class="col-md-4" style="align-self: center;">
                <RadzenLabel Text="Password" />
            </div>
            <div class="col">
                <RadzenPassword style="display: block" Name="new password" @bind-Value=@model.Password Class="w-100" />
                <RadzenRequiredValidator Component="Password" Text="Enter password" Popup="@popup" Style="position: absolute" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4" style="align-self: center;">
                <RadzenLabel Text="Repeat Password" />
            </div>
            <div class="col">
                <RadzenPassword style="display: block" Name="RepeatPassword" @bind-Value=@model.RepeatPassword  Class="w-100" />
                <RadzenRequiredValidator Component="RepeatPassword" Text="Repeat your password" Popup=@popup Style="position: absolute" />
                <RadzenCompareValidator Visible=@(!string.IsNullOrEmpty(model.RepeatPassword)) Value=@model.Password Component="RepeatPassword" Text="Passwords should be the same" Popup=@popup Style="position: absolute" />
            </div>
        </div>
        <RadzenButton ButtonType="ButtonType.Submit" Text="Submit"></RadzenButton>
    </RadzenFieldset>
</RadzenTemplateForm>