@page "/dashboard"
@using data_viewer.Model.Notification
@using data_viewer.Component
<h3>Dashboard</h3>
<div class="row">
@foreach (var container in data)
{
    <div class="col-sm pb-2">
        <ContainerView container = "@container"/>
    </div>
}
</div>
